{% extends 'base.html' %}
{% load static %}
{% block title %}Believe - Password Change{% endblock title %}
{% block current-page %}Password Change{% endblock current-page %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="margin-container">
                <h1>Password Change</h1>
                <p>Please enter your old password, for security's sake, and then enter your
                    new password twice so we can verify you typed it in correctly.
                </p>
                <form method="POST">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.label_tag }} {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <input class="btn" type="submit" value="Change my Password">
                </form>
            </div>
        </div>
        
    </div>
{% endblock content %}