{% extends 'base.html' %}
{% load static %}
{% block title %}Believe - Password Reset{% endblock title %}
{% block current-page %}Password Reset{% endblock current-page %}
{% block content %}
    <div class="container">
        <div class="margin-container">
           <h1>Set a new password!</h1>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="Change my password">
            </form>
        </div>
    </div>
{% endblock content %}