{% extends 'base.html' %}
{% load static %}
{% block title %}Error 404{% endblock title %}
{% block current-page %}Error 404{% endblock current-page %}
{% block content %}
    <div class="container">
        <div class="margin-container">
            <div class="center">
                <img class="error-img" src="https://media.istockphoto.com/vectors/concept-404-error-page-flat-cartoon-style-vector-illustration-vector-id1149316411?k=20&m=1149316411&s=612x612&w=0&h=wzSCBQVVh76LWzeEQP01DDEhpm983Y6_tsqlZ46goZ0=">
            </div>
        </div>
    </div>
{% endblock content %}