{% extends 'base.html' %}
{% load static %}
{% block current-page %}About{% endblock current-page %}

<!-- change this later to include feature section and church officials -->
{% block content %}
<div class="container">
    <div class="margin-container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent volutpat ex ut pharetra elementum. Pellentesque vel suscipit turpis. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Etiam blandit vel turpis et bibendum. Proin pulvinar
        est in tincidunt dapibus. Integer posuere rutrum aliquam. Donec vitae euismod eros. Praesent euismod
        euismod purus, dictum egestas nisl sollicitudin nec. Mauris varius dui sed augue rutrum molestie.
        Curabitur fringilla ut odio eget vestibulum. Nulla tempus justo urna, luctus
        vestibulum ante semper sit amet.

        In blandit quam et nulla dictum, quis dictum velit rhoncus. Proin tristique ante id congue malesuada.
        Donec vel aliquet enim. In hac habitasse platea dictumst. Nullam eget tempus massa.
        Proin ut nulla leo.
        In in dui id lectus auctor commodo. Ut non orci vel dolor iaculis tristique.
        Aliquam vel metus pretium
        augue bibendum convallis. Etiam faucibus nulla eget pellentesque faucibus. Vestibulum
        ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia curae; Donec
        nibh lacus, varius sit amet urna vitae,
        feugiat iaculis eros. Quisque urna sapien, euismod vitae convallis et, volutpat nec felis.
        Mauris sed
        aliquet ante. Cras odio augue, pharetra id orci sed, fermentum laoreet turpis.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nunc venenatis molestie velit, et rutrum sem venenatis eu. Quisque aliquet, urna vel vulputate
        luctus, erat elit posuere nulla, non feugiat tortor dolor et sem. Donec varius nisl elit, ac luctus
        metus tempus non. Aliquam vel magna id nisl feugiat convallis vitae id libero.
        Nunc sapien sapien,
        elementum quis scelerisque dapibus, lacinia ut diam. Vivamus scelerisque urna a enim finibus sodales.
        Morbi semper pretium lorem, et rhoncus elit fringilla sed. Sed vel tortor tincidunt, convallis
        lectus eu, laoreet dui.

        Nullam quis elit nec quam sollicitudin lobortis at ut sapien. Nulla eu tellus nisl. Quisque faucibus
        orci vitae tempor rutrum. Donec fermentum sodales enim a volutpat.
        Pellentesque auctor in metus sed
        iaculis. Nunc ornare, nibh nec bibendum mollis, eros neque malesuada nisi, id pretium sem nibh i
        d ante.
        Donec finibus eu enim eget lacinia. Curabitur tincidunt, est vitae aliquet
        vulputate, nisl magna
        sagittis
        velit, vel sodales enim leo ac lectus. Donec vehicula suscipit velit, a maximus erat posuere euismod.
        Phasellus viverra ultricies nibh eget viverra.

        Aliquam consectetur felis et nisi mattis aliquet. Duis volutpat arcu nec mollis pulvinar. Pellentesque
        sed ante leo. Vivamus a pharetra libero. Suspendisse potenti. Nam
        vehicula porta ante, vel ullamcorper
        lacus blandit eu. Maecenas scelerisque augue commodo orci interdum
        pulvinar. Cras ultricies pretium mi
        consectetur mattis. Morbi pharetra tellus ante. In est risus,
        tincidunt sed orci at, feugiat accumsan
        dolor. Etiam pellentesque convallis nisl ac varius. Suspendisse in venenatis sapien.

        Etiam malesuada ut elit vitae dapibus. Aenean id sagittis ipsum, at lacinia velit. Curabitur venenatis
        malesuada nisl in porttitor. Maecenas placerat aliquam enim, at volutpat nisl posuere in. Vivamus
        sit amet magna et velit efficitur interdum ut gravida arcu.
        Suspendisse potenti. Curabitur dignissim
        velit eu dui blandit lacinia.

        Etiam viverra fermentum commodo. Nulla in tempor dui. Morbi vehicula vitae justo pulvinar iaculis. Sed nisi
        est, interdum tristique leo quis, ornare pellentesque turpis. Duis
        molestie lacus ac pretium molestie.
        Aenean quis nisl justo. Cras at ullamcorper massa.

        Aenean a semper elit. Nunc vel odio vitae metus eleifend maximus bibendum eu nunc. Curabitur blandit
        dui id massa finibus, id lobortis mauris euismod. Proin ullamcorper ex et orci vulputate, sit amet
        gravida purus rutrum. Cras efficitur purus lobortis pulvinar feugiat. Nulla feugiat eros eleifend convallis
        fermentum. Nam dignissim lectus in posuere ultricies. Curabitur posuere vitae diam eget ullamcorper.

        Nullam quis felis sed dui sodales sagittis. Mauris aliquet ornare facilisis. Quisque aliquet nisi in nisi
        bibendum, et vestibulum purus lobortis. Suspendisse dignissim arcu et purus placerat, quis commodo arcu mollis.
        Proin dignissim pharetra mauris, vel eleifend risus commodo viverra. Cras eget laoreet erat. Morbi consequat
        nunc a sagittis porttitor. Aenean lorem lorem, varius quis neque pharetra, condimentum euismod augue.

        Vestibulum ultrices hendrerit blandit. Maecenas varius erat ac imperdiet convallis.
        Aliquam quam nunc, luctus ac nibh eu, imperdiet laoreet diam. Integer vitae porttitor arcu. Nam ac aliquet
        velit. Vivamus lobortis ligula magna, sit amet euismod odio scelerisque in. Aenean cursus lectus quis faucibus
        eleifend. Quisque pellentesque gravida urna, sit amet pellentesque purus placerat id. Donec venenatis fermentum
        neque,
        eget lacinia mauris porta ac. Cras luctus purus sed pretium feugiat.
    </div>
</div>
{% endblock content %}