{% extends 'base.html' %}
{% load sermon_tags %}
{% load static %}
{% block title %}Believe - Home {% endblock title %}

{% block content %}
<div class="container">
    <section class="two-cols-container">
        <div class="blog-posts">
            {% for post in page_obj %}
            <div class="blog-post">
                <div class="img-container">
                    <img src="{{ post.post_image.url }}" alt="church light bulb">
                    <div class="date">
                        <p class="day">{{ post.date_created|date:"d" }}</p>
                        <p class="date-text">{{ post.date_created|date:"N, Y" }}</p>
                    </div>
                </div>

                <div class="heading">
                    <h2>{{ post.title }}</h2>
                    <p class="subtitle">
                        By <a href="{{ post.author.profile.get_absolute_url }}">{{ post.author.first_name|title }} {{ post.author.last_name|title }}</a>| In {{ post.category }} | {{ post.comment_set.count }}
                        Comments
                    </p>
                </div>

                <div class="description">
                    {{ post.description|safe }}
                </div>

                <a href="{{ post.get_absolute_url }}" class="read-more">Read More</a>
            </div>

            {% endfor %}
            <!-- pagination section -->
            <div class="pagination">
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        {% if category %}
                            <a href="?category={{ category }}&page={{ page_number }}" class="current-page page-link">{{forloop.counter|stringformat:"02d"}}</a>
                        {% else %}
                            <a href="?page={{ page_number }}" class="current-page page-link">{{forloop.counter|stringformat:"02d"}}</a>
                        {% endif %}
                    {% else %}
                        {% if category %}
                            <a href="?category={{ category }}&page={{ page_number }}" class="page-link">{{forloop.counter|stringformat:"02d" }}</a>
                        {% else %}
                            <a href="?page={{ page_number }}" class="page-link">{{forloop.counter|stringformat:"02d" }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <aside>
            <form action="{% url 'search:search' %}" method="get">
                <input class = "search-box" type = "search" name = "q" placeholder = "search" required>
            </form>

            <h2>Latest Sermons</h2>

            {% show_latest_sermons %}


            <!-- categories section -->
            <div class="categories">
                <h2>Categories</h2>
                {% for category in all_categories %}
                <div class="category">
                    <p><a href="{% url 'blog:index' %}?category={{ category.category_name }}">{{ category.category_name }}</a></p>
                    <p>{{ category.post_set.count }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="archives">
                <h2>Archives</h2>
                <p>November 2021</p>
                <p>December 2021</p>
                <p>January 2021</p>
                <p>February 2021</p>
                <p>March 2021</p>
            </div>

            <blockquote>
                <img src="{% static 'blog/images/quote_char.png' %}" alt="quote symbol">
                <p>
                    {{ bv.text }}
                </p>

                <span class="bible-ref">{{ bv.bible_ref|title }}</span>
            </blockquote>
        </aside>
    </section>
</div>
{% endblock content %}