{% extends 'base.html' %}
{% load static %}
{% block title %}Believe - Register{% endblock title %}
{% block current-page %}Register{% endblock current-page %}
{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data" class="center">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register" class="action">
        </form>
    </div>
{% endblock content %}