{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous">
		<!-- CSS only -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
		<link rel = "stylesheet" href = "{% static 'blog/css/base.css' %}" type = "text/css">
        <!-- specific stylesheet -->
        {% block style %}{% endblock style %}
		<title>{% block title %}Believe Church{% endblock title %}</title>
	</head>
	
	<body>
		<p style = "display: none;" id="countdown-date">{{ announcement.event_date|date:"d F Y" }}</p>
		<!-- top container section -->
		<header class = "top-container">
			<div class = "container">
				<div class = "countdown-container">
					<!-- if no announcement has featured to be true don't show this -->
					{% if announcement %}
						<p class = "yellow-text">
							{{ announcement.event_name }}: 
						</p>
						<div class = "time">
							<p id="days">
								<span class = "units">Days</span>
							</p>
							<p id="hours">
								<span class = "units">Hours</span>
							</p>
							<p id="mins">
								<span class = "units">Minutes</span>
							</p>
							<p id="secs">
								<span class = "units">Seconds</span>
							</p>
						</div>
					{% else %}
						<p class = "yellow-text">
							No Upcoming Event.
						</p>
					{% endif %}
					<a href="{% url 'payment:donate' %}" class="btn">Send Donations</a>
				</div>
			</div>
		</header>
		
		<!-- nav bar section -->
		<div class = "nav container">
			<nav>
				<p class = "left-nav-logo">
					Believe
					<img src = "{% static 'blog/images/logo.jpg' %}" alt = "church logo">
				</p>
				
				<div class = "right-nav">
					<img src = "{% static 'blog/images/cross_1.png' %}" alt = "cross">
					<input class = "search" type =  "search" name = "search" placeholder = "Search">
					<a href = "{% url 'blog:index' %}">Home</a>
					<a href = "{% url 'blog:about'%}">About</a>
					<a href = "{% url 'sermon:sermons' %}">Sermons</a>
					{% if request.user.is_authenticated %}
						<a href = "{% url 'user:log_out' %}">Logout</a>
						<a href = "{% url 'user:profile' request.user.id %}">{{ request.user.username }}</a>
						<a href = "{% url 'blog:new' %}">New Post</a>
					{% else %}
						<a href = "{% url 'user:login' %}">Login</a>
					{% endif %}
				</div>
				
				<img src = "{% static 'blog/images/openmenu.png' %}" alt = "hamburger menu" class = "menu">
				
			</nav>
		</div>
		
		<!-- showcase section -->
		<section class = "showcase-container">
			<div class = "showcase container">
				<div class = "showcase-text">
					<h1>{{ request.resolver_match.url_name|title|pretty_ }}</h1>
					<p><a class = "home" href = "{{ request.path }}">Home</a>/ <span class = "red-text">{% block current-page %}{% endblock current-page %}</span></p>
				</div>
			</div>
		</section>

		{% if messages %}
			{% for message in messages %}
				<div id="msg" class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}

		<!-- blog posts section -->
		{% block content %}
        {% endblock content %}

        <!-- newsletter section -->
        <section class = "newsletter-container">
            <div class = "container">
                <div class = "newsletter-wrapper">
                    <p>
                        Subscribe to our newsletter
                    </p>
                    
                    <form id = "newsletter" action = "{% url 'blog:subscribe' %}" method = "post">
						{% csrf_token %}
                        <input class = "newsemail" type = "email" name = "Nemail" placeholder = "Your email" required>
                        <input class = "subscribe action" type = "submit" value = "Subscribe">
                    </form>
                </div>
            </div>
        </section>
		
		<!-- bottom container section -->
		<section class = "bottom-container">
			<div class = "container">
				<div class = "three-cols-container">
					<div class = "description">
						<h1 class = "logo-name">Believe
							<img src = "{% static 'blog/images/logo_large.jpg' %}" alt = "logo">
						</h1>
						<p>Church template</p>
						<div class = "social-icons">
							<i class = "fab fa-google-plus-g"></i>
							<i class = "fab fa-pinterest"></i>
							<i class = "fab fa-facebook"></i>
							<i class = "fab fa-twitter"></i>
						</div>
					</div>
					
					<div class = "links-container">
						<h3>Useful Links</h3>
						<div class = "links-wrapper">
							<ul class = "link-wrapper">
								<li><a href = "#">Home</a></li>
								<li><a href = "#">Donations</a></li>
								<li><a href = "#">Sermons</a></li>
								<li><a href = "#">Causes</a></li>
								<li><a href = "#">Quotes</a></li>
							</ul>
							
							<ul class = "link-wrapper">
								<li><a href = "#">News</a></li>
								<li><a href = "#">Event List</a></li>
								<li><a href = "#">Ministries</a></li>
								<li><a href = "#">Priests</a></li>
								<li><a href = "#">Contact</a></li>
							</ul>
						</div>
					</div>
					
					<div class = "contact-address">
						<h3>Contact Us</h3>
						<ul>
							<li>
								<span class = "red-text">Address:</span> 
								1481 Creekside Lane Avila Beach,
								CA 93424
							</li>
							
							<li>
								<span class = "red-text">Phone:</span>
								+53 345 7953 32453
								<ul>
									<li class = "inner-list">
										+53 345 7557 822112
									</li>
								</ul>
							</li>
							
							<li>
								<span class = "red-text">Email:</span>
								yourmail@gmail.com
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<!-- footer section -->
		<footer>
			<div class = "container">
				<p>
					Copyright &copy;<span id="year"></span> All rights reserved 
					| This template was cloned with &hearts; by
					<a href = "https://wa.me/2348137337777?text=Hi%20,Bovage%20">Bovage</a>
				</p>
			</div>
		</footer>
		
		<script>
			// deletes django message after 2 seconds on redirect
			setTimeout(function(){
				if ($('#msg').length > 0) {
					$('#msg').remove();
				}
			}, 2000)    // 2000 millisecond

			document.querySelector(".menu").addEventListener
			("click", () => document.querySelector(".right-nav")
			.classList.toggle("show"))

			document.getElementById("year").textContent = new Date().getFullYear();
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	</body>
		<script src="{% static 'blog/js/countdown.js' %}"></script>
		{% block js %}
		{% endblock js %}
	</body>
</html>